apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ${ingress_name}
  annotations:
%{ for key, value in ingress_annotations ~}
    ${key}: ${value}
%{ endfor }
spec:
  ingressClassName: ${ingress_class}
  rules:
    - http:
        paths:
          - path: ${ingress_path}
            pathType: ${path_type}
            backend:
              service:
                name: ${service_name}
                port:
                  number: ${service_port}
