apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: ${pdb_name}
spec:
  minAvailable: ${pdb_min_available}
  selector:
    matchLabels:
%{ for key, value in pdb_selector_label ~}
      ${key}: ${value}
%{ endfor }
