apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${pvc_name}
  annotations:
%{ for key, value in pvc_annotations ~}
    ${key}: ${value}
%{ endfor }
spec:
  accessModes:
    - ${access_mode}
  storageClassName: ${storage_class}
  resources:
    requests:
      storage: ${storage_request}
    limits:
      storage: ${storage_limit}
