apiVersion: v1
kind: Service
metadata:
  name: ${service_name}
  labels:
%{ for key, value in service_labels ~}
    ${key}: ${value}
%{ endfor }
spec:
  type: ${service_type}
  selector:
%{ for key, value in service_selector_labels ~}
    ${key}: ${value}
%{ endfor }
  ports:
    - protocol: ${service_protocol}
      port: ${service_port}
      targetPort: ${service_target_port}
